.dr{
    width: 350px;
    height: 350px;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border: 2px solid #136EFA;
    margin-left: 30px;
}
#bt2{
    margin-top: 35px;
    width: 70px;
    height: 30px;
    border-radius: 6px;
}
#bt2:focus{
    background-color: red;
    color: white;
}
.mapdiv{
    width: 50vw;
    height: 100vh;
}
.heart {
    float: left;
    width: 100px;
    height: 100px;
    
    background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
    background-position: 0 0;
    cursor: pointer;
    -webkit-transition: background-position 1s steps(28);
    transition: background-position 1s steps(28);
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
}
.heart.is-active {
    margin-bottom: 30px;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    background-position: -2800px 0;
}

.btnGroup{
    float: left;
    width: 100px;
    height: 100px;
}

@media screen and (max-width: 750px) {
    .mapdiv{
        width: 100vw;
        height: 100vh;
    }
}