.dr{
    width: 350px;
    height: 320px;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border: 2px solid #136EFA;
    margin-left: 30px;
}
.bt2:focus{
    background-color: red;
}
.mapdiv{
    width: 50vw;
    height: 100vh;
}

@media screen and (max-width: 750px) {
    .mapdiv{
        width: 100vw;
        height: 100vh;
    }
}